.game-board{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(12, 100px);
    gap: 10px;
    justify-items: center;
    margin: 20px auto 30px auto;
    width: fit-content;
    padding: 50px;
    border: 2px solid #494949;
    border-radius: 10px;
    min-height: calc(6 * 100px + 5 * 10px + 100px); /* = 750px */
}

.card {
    perspective: 600px;
    background-color: transparent;
    width: 100%;
    aspect-ratio: 1; /* Optional: keeps cards proportional */
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    border-radius: 20px;
    background-color: #d9d5c8;
}

.card-front img {
  background-color: #a7652b;
}

.backcard {
    background-color: #a7652b;
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s;
}

.backcard:hover {
    transform: scale(1.05);
}

.empty-card {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 20px;
}

.game-area {
  display: grid;
  grid-template-columns: minmax(120px, 1fr) auto minmax(120px, 1fr);
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px; /* o el ancho que prefieras */
  margin: 0 auto;
}

.turn-indicator {
  font-size: 2rem;
  padding: 10px 20px;
  border-radius: 10px;
  position: relative;
  min-width: 120px;
  text-align: center;
  display: flex;
  align-items: center;   /* centra verticalmente */
  justify-content: center; /* centra horizontalmente */
  height: 100%; /* opcional, para ocupar toda la altura de la celda */
  white-space: nowrap;
  color: white;
  -webkit-text-stroke: 1px rgb(33, 51, 99);
}

.turn-indicator.left {
  grid-column: 1;
  right: 30px;
}

.turn-indicator.right {
  grid-column: 3;
  left: 30px;
}

.game-board {
  grid-column: 2;
}

.first-player {
  display: flex;
  position: relative;
  right: 45px;
  flex-wrap: wrap;
  gap: 40px;
  height: 100px;
  border-radius: 12px;
  padding: 10px 16px;
  margin: 10px auto 20px auto;
  width: 80vw;
  box-shadow: 0 2px 8px #0002;
  justify-content: center;
  align-items: center;
  overflow-x: auto;      /* Permite scroll horizontal si hay muchas cartas */
  max-width: 90vw;       /* Limita el ancho al 90% de la ventana */
  white-space: nowrap;    /* Evita que el contenido se envuelva */
}

.cpu-player {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  height: 100px;
  border-radius: 12px;
  padding: 20px 16px;
  margin: 10px auto 20px auto;
  width: 80vw;
  box-shadow: 0 2px 8px #0002;
  justify-content: center;
  align-items: center;
  overflow-x: auto;      /* Permite scroll horizontal si hay muchas cartas */
  max-width: 90vw;       /* Limita el ancho al 90% de la ventana */
  white-space: nowrap;    /* Evita que el contenido se envuelva */
}

.player2-player {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  height: 100px;
  border-radius: 12px;
  padding: 20px 16px;
  margin: 10px auto 20px auto;
  width: 80vw;
  box-shadow: 0 2px 8px #0002;
  justify-content: center;
  align-items: center;
  overflow-x: auto;      /* Permite scroll horizontal si hay muchas cartas */
  max-width: 90vw;       /* Limita el ancho al 90% de la ventana */
  white-space: nowrap;    /* Evita que el contenido se envuelva */
  position: relative;
  right: 40px;
}

.first-player,
.player2-player,
.cpu-player,
.all-pokemon-container {
  scrollbar-width: thin;              /* Firefox */
  scrollbar-color: #eebb09 rgb(63, 94, 140);      /* Firefox */
}

.first-player-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-player-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#first-player-title {
  margin: 0 0 0 40px;
  position: relative;
  left: 10px;  
}

#second-player-title {
  margin: 0 0 0 35px;
  position: relative;
  left: 10px;
}

#cpu-title {
  margin: 0 0 0 35px;
  position: relative;
  left: 50px;
}

.card-pair {
  position: relative;
  width: 48px; /* ajusta según el tamaño de tus cartas */
  height: 48px;
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
}

.card-img {
  width: 80px;
  height: 80px;
  border-radius: 6px;
  position: absolute;
  top: -15px;
  left: 0;
  box-shadow: 0 2px 6px #0002;
  background-color: #d9d5c8;
}

.card-img.overlap {
  left: 12px; /* ajusta para el grado de superposición */
  z-index: 1;
  box-shadow: 0 4px 12px #0003;
  background-color: #d9d5c8;
}

.popup-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup {
  color: #222;
  padding: 32px 45px 32px 45px;
  border-radius: 16px;
  box-shadow: 0 4px 24px #0006;
  text-align: center;
  min-width: 240px;
  z-index: 2001;
  position: fixed;
}

.popup-coin {
  color: #222;
  padding: 32px 80px 32px 80px;
  border-radius: 16px;
  box-shadow: 0 4px 24px #0006;
  text-align: center;
  min-width: 600px;
  min-height: 650px;
}

.imgcoin {
  width: 100px;
}

.gifcoin {
  width: 300px;
}

.coin-options {
  display: flex;
  gap: 40rem;
  justify-content: center;
  position: relative;
  top: 20px;
}

.coin-option {
  padding: 20px 20px 0 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.hover-effect:hover {
  transform: scale(1.1);
  background-color: #f0f0f0;
}

.coin-result {
  margin-top: 1rem;
  text-align: center;
}

.coin-option.theme-selected {
  border: 3px solid #000;
  background-color: #f0f0f0;
}

.coin-option.theme-correct {
  background-color: #4caf50;
}

.coin-option.theme-failed {
  background-color: #f44336;
}

.popup button {
  margin-top: 20px;
  padding: 8px 24px;
  font-size: 1.8rem;
  border-radius: 8px;
  border: none;
  background: rgb(63, 94, 140);
  color: #fff;
  cursor: pointer;
  font-family: inherit;
}

.popup button:hover {
  background: #eebb09;
  color: #fff;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease-in-out;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  overflow: hidden;
}

.card-front {
  z-index: 2;
}

.card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

.score-player1,
.score-player2 {
  position: relative;
  color: white;         
  font-size: 9rem;  
  -webkit-text-stroke: 1px rgb(33, 51, 99);       
}

.score-player1 {
  top: 100px;
  right: 120px;
}

.score-player2 {
  bottom: 100px;
  right: 120px;
}

.card-board {
  width: 100%;
  height: 100%;
}

.score-container {
  position: absolute;
}

.close-button {
  float: right;
  position: relative;
  left: 30px;
  top: 20px;
  background-color: transparent;
}

.pokemon-icon {
  width: 100px;
}

@media (max-width: 600px) {          /* modo portrait */
 .popup-coin {
    position: absolute;
    width: 95vw !important;
    max-width: 95vw !important;
    min-width: unset !important;
    padding: 8px !important;
    min-height: 620px !important;
    top: 50px;
    left: 10px;
  }
  .popup-coin h3, .popup-coin p {
    font-size: 2.2rem;
  }
  .coin-options {
    gap: 50px !important;
    right: 0px;
    height: 50% !important;
  }
  .headtailstitle {
    font-size: 2.6rem;
    line-height: 1.3 !important;
  }
  .coin-result {
    position: relative;
    margin-top: 0.5rem;
    text-align: center;
    top: 25px;
  }
  .imgcoin {
    width: 70px;
  }
  .gifcoin {
  width: 180px;
  }
  .game-area,
  .first-player-container,
  .second-player-container,
  .first-player,
  .player2-player,
  .cpu-player {
    width: 95vw !important;
    max-width: 95vw !important;
    left: 0 !important;
  }
  .game-area {
    grid-template-columns: 1fr !important;
    grid-template-rows: auto auto auto !important; 
    gap: 10px !important; 
    max-width: 100vw !important;   
    margin-bottom: 100px !important; 
  }
  .game-board {
    min-height: 0 !important;
    padding: 8px !important;
    max-width: 100vw !important;
    grid-template-columns: repeat(6, 50px);
    gap: 10px 5px !important;
    margin: 40px 20px 10px 20px !important;
    padding: 20px 10px !important;
    min-height: calc(12 * 50px + 5 * 10px + 40px); /* = 800px */
    border-radius: 0 !important;
    grid-column: 1 !important;
    grid-row: 3 !important;
    border: none !important;
    border-radius: 10px !important;
  }  
  .card-board {
    width: 50px;
    height: 50px;
    border-radius: 0px !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .card,
  .card-front,
  .card-back,
  .empty-card {
    border-radius: 20px !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .turn-indicator.left {
    grid-column: 1 !important;
    grid-row: 1 !important;
    right: 70px !important;
    margin-top: 20px !important;
  }

  .turn-indicator.right {
    grid-column: 1 !important;
    grid-row: 2 !important;
    width: 40% !important;
    right: 50px !important;
    margin-bottom: 20px !important;
  }
  .score-container {
    position: absolute !important;
  }
  .score-player1 {
    left: 70px;
    top: 880px;
    font-size: 5rem;
  }
  .score-player2 {
    left: 70px;
    top: 160px;
    font-size: 5rem;  
  }
  .pokemon-icon {
    width: 65px !important;
    position: absolute !important;
    bottom: 47px !important;
    left: 220px !important;
  }
  #cpu-title, #first-player-title, #second-player-title {
    left: 0px !important;
    margin: 0 !important;
    text-align: center !important;
    font-size: 3rem !important;
    margin: 0 10px !important;
    white-space: nowrap;
  }
  #cpu-title {
    right: 40px !important;
    width: 40% !important; 
  }
  .cpu-player, .first-player, .player2-player {
    padding: 10px !important;
    gap: 10px !important;
    height: 80px !important;
    justify-content: center !important;
    margin: 0 10px !important;
  }
  .first-player-container {
    margin: 0 10px !important;
    flex-direction: column-reverse !important;
  }
  .second-player-container {
    flex-direction: column !important;
    margin: 0 10px !important;
  }
  .card-img {
    width: 50px !important;
    height: 50px   !important;
  }
  .card-pair {
    top: 12px !important;
  }
  .popup-pokemon {
    position: absolute !important;
    max-width: 95vw !important;
    width: 95vw !important;
    min-width: unset !important;
    padding: 12px 8px !important;
    max-height: 70vh !important;
  }
  .pokeText {
    font-size: 1.4rem !important;
    margin: 20px 0 !important;
    -webkit-text-stroke: 0.5px rgb(33, 51, 99);
  }
  .pokeName {
    position: relative;
    font-size: 1.9rem !important;
    margin-top: 0px !important;
    margin-bottom: 20px !important;
    bottom: 15px !important;
  }
  #pokemon-sprite {
    max-width: 200px !important;
    margin-bottom: 20px !important;
    width: 130px !important;
  }
  .close-button {
    float: none !important;
    position: relative !important;
    left: 150px !important;
    top: 0px !important;
  }
}

@media (max-width: 900px) and (max-height: 400px) {          /* modo landscape */
 .popup-coin {
    position: fixed;
    width: 100vw !important;
    height: 100px !important;
    max-width: 100vw !important;
    min-width: unset !important;
    padding: 8px !important;
    min-height: 350px !important;
    top: 200px;
    left: 0px;
  }
  .popup-coin h3, .popup-coin p {
    font-size: 2.2rem;
  }
  .coin-options {
    position: relative !important;
    gap: 500px !important;
    right: 0px;
    top: -10px !important;
    height: 50% !important;
    width: 100% !important;
    z-index: 99999 !important;
  }
  .headtailstitle {
    font-size: 2.7rem;
    line-height: 1.3 !important;
  }
  .coin-result {
    position: relative;
    margin-top: 0.5rem;
    text-align: center;
    bottom: 160px;
  }
  .imgcoin {
    width: 70px;
  }
  .gifcoin {
  width: 180px;
  }
  .game-area {
    max-width: 1800px !important;
    position: relative;
    left: 900px;
  }
  .game-board {
    width: 100% !important;
  }
  .second-player-container, .first-player-container {
    width: 1800px !important;
  }
  .first-player, .cpu-player, .player2-player {
    position: relative !important;
  }
  .first-player, .player2-player {
    left: 250px !important;
    width: 1700px !important;
    max-width: 1700px !important;
  }
  .cpu-player {
    left: 300px !important;
    width: 1550px !important;
    max-width: 1700px !important;
  }
  #first-player-title, #second-player-title, #cpu-title {
    white-space: nowrap;
    left: 150px !important;
  }
  .first-player-container {
    padding-bottom: 100px !important;
  }
  .second-player-container {
    padding-top: 50px !important;
  }
}

/*themes*/
body.theme-normal {
  background-color: #d52a4a;
  color: #ffffff;
}

body.theme-pikachu {
  background-color: #f9d02e;
  color: #3d7eaa;
}

body.theme-charmander {
  background-color: #f57d31;
  color: #ffffff;
}

body.theme-bulbasaur {
  background-color: #4caf50;
  color: #ffffff;
}

body.theme-squirtle {
  background-color: #64b5f6;
  color: #ffffff;
}

body.theme-mewtwo {
  background-color: #e1bee7;
  color: #ffffff;
}

/*themes---------------------------*/
.game-board.theme-normal {
  background-color: #eebb09;
}

.first-player.theme-normal,
.player2-player.theme-normal,
.cpu-player.theme-normal {
  background-color: rgb(63, 94, 140);
} 

.popup.theme-normal,
.popup-coin.theme-normal {
  background-color: #d52a4a;
}

.empty-card.theme-normal {
  background-color: #f7c821;
}


.game-board.theme-pikachu {
  background-color: #261c14;
}

.first-player.theme-pikachu,
.player2-player.theme-pikachu,
.cpu-player.theme-pikachu {
  background-color: #a04e06;
}

.popup.theme-pikachu,
.popup-coin.theme-pikachu {
  background-color: #f3cf3f;
}

.empty-card.theme-pikachu {
  background-color: #3d3936;
}


.game-board.theme-charmander {
  background-color: #121a28;
}

.first-player.theme-charmander,
.player2-player.theme-charmander,
.cpu-player.theme-charmander {
  background-color: #a23004;
}

.popup.theme-charmander,
.popup-coin.theme-charmander {
  background-color: #f09146;
}

.empty-card.theme-charmander {
  background-color: #2d3544;
}



.game-board.theme-bulbasaur {
  background-color: #35141a;
}

.first-player.theme-bulbasaur,
.player2-player.theme-bulbasaur,
.cpu-player.theme-bulbasaur {
  background-color: #d8b87f;
}

.popup.theme-bulbasaur,
.popup-coin.theme-bulbasaur {
  background-color: #55a480;
}

.empty-card.theme-bulbasaur {
  background-color: #5e3b41;
}



.game-board.theme-squirtle {
  background-color: #20444c;
}

.first-player.theme-squirtle,
.player2-player.theme-squirtle,
.cpu-player.theme-squirtle {
  background-color: #ba681c;
}

.popup.theme-squirtle,
.popup-coin.theme-squirtle {
  background-color: #8db5ac;
}

.empty-card.theme-squirtle {
  background-color: #40636b;
}



.game-board.theme-mewtwo {
  background-color: #c4b4d3;
}

.first-player.theme-mewtwo,
.player2-player.theme-mewtwo,
.cpu-player.theme-mewtwo {
  background-color: #191622;
}

.popup.theme-mewtwo,
.popup-coin.theme-mewtwo {
  background-color: #77569c;
}

.empty-card.theme-mewtwo {
  background-color: #d7cae4;
}

/*themes---------------------------*/