#pokemon-sprite {
    max-width: 500px;
    margin-bottom: -20px;
    width: 200px;
    background-color: rgba(240, 239, 239, 0.966);
    border-radius: 10px;
}

#pokemon-battle-sprite { 
    max-width: 500px;
    margin-bottom: -20px;
    width: 300px;
    height: 300px;
    background-color: transparent;
    border-radius: 10px;
    image-rendering: crisp-edges;
    position: relative;
    left: 250px;
    top: 10px;
}

#pokemon-battle-sprite-2 { 
    max-width: 500px;
    margin-bottom: -20px;
    width: 250px;
    height: 250px;
    background-color: transparent;
    border-radius: 10px;
    position: relative;
    right: 80px;
    bottom: 30px;
}

.pokeText {
  font-size: 35px;
  font-family: 'GBBoot', Arial, sans-serif;
  text-align: center;
  margin-top: 60px;
  padding: 0px;
}

.pokeName {
  font-size: 40px;
  font-family: 'GBBoot', Arial, sans-serif;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
  font-weight: bolder;
}

.pokeName-battle {
  font-size: 50px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
  font-weight: bolder;
  color: #000000;
  -webkit-text-stroke: 1px #525252;
  position: relative;
}

.pokeName-battle-2 {
  font-size: 50px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
  font-weight: bolder;
  color: #000000;
  -webkit-text-stroke: 1px #525252;
  position: relative;
  right: 50px;
}

.pokeText-battle {
  font-size: 25px;
  text-align: center;
  margin-top: 60px;
  padding: 0px;
  color: #000000;
  -webkit-text-stroke: 1px #525252;
  position: relative;
  bottom: 80px;
}

.pokeText-battle-2 {
  font-size: 25px;
  text-align: center;
  margin-top: 60px;
  padding: 0px;
  color: #000000;
  -webkit-text-stroke: 1px #525252;
  position: relative;
  bottom: 80px;
}

.pokeText-battle-life {
  font-size: 30px;
  text-align: center;
  margin-top: 60px;
  padding: 0px;
  color: #000000;
  -webkit-text-stroke: 1px #525252;
  position: relative;
  bottom: 150px;
  position: relative;
  letter-spacing: 1px;
  left: 25px;
}

.pokeText-battle-life-span {
  position: relative;
  left: 50px;
}

.pokemon-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-pokemon {
  padding: 10px 75px 40px 75px;
  border-radius: 16px;
  box-shadow: 0 4px 24px #0006;
  text-align: center;
  width: 900px;
  height: 950px;
  min-width: 750px;
  max-width: 90vw;
  max-height: 950px;
  overflow-y: auto;
  z-index: 1000;
  position: relative;
}

.popup-pokemon-2 {
  padding: 10px 75px 40px 75px;
  border-radius: 16px;
  box-shadow: 0 4px 24px #0006;
  text-align: center;
  width: 1600px;
  height: 1200px;
  min-width: 750px;
  max-width: 90vw;
  max-height: 90vh;
  overflow-y: auto;
  z-index: 1000;
  position: relative;
}

.pokemon-h2 {
  font-size: 70px;
}

.pokemon-battle-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.815);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 900;
}

.pokemon-battle-overlay-black {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 900;
}

.popup-battle-pokemon {
  padding: 10px 75px 40px 75px;
  border-radius: 16px;
  box-shadow: 0 4px 24px #0006;
  text-align: center;
  background: rgb(247, 246, 246);
  width: 1200px;
  min-width: 1200px;
  min-height: 900px;
  position: relative;
  border: thick double #161616;
}

.popup-battle-pokemon-animation {
  padding: 10px 75px 40px 75px;
  border-radius: 16px;
  box-shadow: 0 4px 24px #0006;
  text-align: center;
  background: rgb(247, 246, 246);
  width: 1200px;
  min-width: 1200px;
  min-height: 900px;
  position: relative;
}

.battle-transition-overlay {
  position: absolute;    
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;     
  background: black;
  z-index: 10;
  animation: flicker 0.4s infinite, move 3s linear;
  border-radius: 16px;
  pointer-events: none; /* Para que no bloquee clics */
  opacity: 0.5; /* Opcional, para que el flicker sea más sutil */
}

.pokemon1-stats {
  position: relative;
  left: 370px;
  top: 80px;
}

.pokemon2-stats {
  position: relative;
  right: 60px;
}

@keyframes flicker {
  0%, 100% { opacity: 0.5; }
  20% { opacity: 0.6; }
  40% { opacity: 0.7; }
  60% { opacity: 0.85; }
  80% { opacity: 1; }
}

/*@keyframes move {
  0% { transform: scale(1) rotate(0deg); }
  100% { transform: scale(1.05) rotate(360deg); }
}*/

.pokemon2 {
  float: right;
  margin-left: 50px;
  width: 45%;
  position: relative;
  left: 200px;
}

.pokemon1 {
  width: 45%;
  position: relative;
  right: 200px; 
  top: 30px;
}

.battle-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(2, 1fr); 
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 500px;
  gap: 10px;
  min-width: 500px;
  padding: 10px;
  border: thick double #161616;
  border-radius: 10px;
  margin-left: auto;
}

.options {
  font-size: 40px;
  color: #161616;
  text-shadow: 1px 1px 0 #fff;
  text-align: center;
  margin-top: 20px;
  padding: 24px;
  background: white;
  border-radius: 10px;
}

.options:hover {
  background: #d3d3d3;
  cursor: pointer;
  transition: background 0.3s;
}

.moveset {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(2, 1fr); 
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  min-width: 1000px;
  min-height: 290px;
  padding: 10px;
  border: thick double #161616;
  border-radius: 10px;
}

.moveset-2 { 
  display: flex;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(2, 1fr); 
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  min-width: 1000px;
  min-height: 290px;
  padding: 10px;
  border: thick double #161616;
  border-radius: 10px;
  height: 290px;
}

.pkmn-img-icon {
  width: 40%;
}

.moves {
  font-size: 40px;
  color: #161616;
  text-shadow: 1px 1px 0 #fff;
  text-align: center;
  margin-top: 20px;
  padding: 24px;
  background: rgba(240, 239, 239, 0.966);
  border-radius: 10px;
}

.moves:hover {
  background: #d3d3d3;
  cursor: pointer;
  transition: background 0.3s;
}

.pokemon1-container, .pokemon2-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hp-bar-container {
  position: relative;
  width: 260px;
  height: 32px;
  background: #fff;
  border: 3px solid #000;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 16px 0;
  /* Esquinas pixeladas */
  outline: 4px solid #525252;
  outline-offset: -8px;
  bottom: 95px;
}

.hp-bar-container-2 {
  position: relative;
  width: 260px;
  height: 32px;
  background: #fff;
  border: 3px solid #000;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 16px 0;
  /* Esquinas pixeladas */
  outline: 4px solid #525252;
  outline-offset: -8px;
  bottom: 95px;
  left: 60px;
}

.hp-bar-label {
  position: absolute;
  left: 6px;
  top: 0px;
  background: #222;
  color: #ffd98a;
  font-size: 16px;
  padding: 2px 8px;
  border: 2px solid #000;
  border-radius: 10px;
  z-index: 2;
  letter-spacing: 2px;
}

.hp-bar-fill {
  position: absolute;
  left: 50px;
  top: 5px;
  height: 16px;
  width: calc(200px * var(--hp, 1));
  border: 2px solid #000;
  border-radius: 2px;
  transition: width 0.3s;
  z-index: 1;
}

.hp-bar-fill.high {
  background: linear-gradient(90deg, #00e000 80%, #008000 100%);
}
.hp-bar-fill.mid {
  background: linear-gradient(90deg, #ffe000 80%, #e0a000 100%);
}
.hp-bar-fill.low {
  background: linear-gradient(90deg, #ff3c00 80%, #a00000 100%);
}

.ui-1 {
  position: relative;
  top: 110px;
  left: 0;
  width: 40%;
}

.ui-2 {
  position: relative;
  bottom: 155px;
  left: 0;
  width: 90%;
}

#battle-message {
  color: #161616;
  text-shadow: 1px 1px 0 #fff;
  font-size: 60px;
  margin: 20px;
  text-align: center;
}

.moves.disabled-move {
  background: #a9a9a9;
  color: #666666;
  cursor: not-allowed;
}

.lose-icon {
  position: absolute;
  z-index: 20;
  width: 120%;
  bottom: 20px;
  left: 55px;
  pointer-events: none;
}

.win-icon {
  position: absolute;
  z-index: 20;
  width: 145%;
  bottom: 25px;
  left: 55px;
  pointer-events: none;
}

.lose-icon-short {
  width: 15%;
  position: relative;
}

.win-icon-short {
  width: 15%;
  position: relative;
}

.all-pokemon-container {
  display: flex;
  flex-direction: row;
  gap: 150px;
  overflow-y: auto;
  height: 80vh;
  padding: 10px;
  z-index: 1000;
}

.pokemon-section {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 350px;
  position: relative;
}

.pokemon-section-2 {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 350px;
  position: relative;

}

.pokemon-header {
  position: relative;
  top: 0;
  background: inherit;
  z-index: 2000;
  padding-bottom: 10px;
}

.pokemon-header-2 {
  position: relative;
  background: inherit;
  z-index: 2000;
  padding-bottom: 10px;
}

.hit-animation {
  animation: hitShake 0.5s;
}

@keyframes hitShake {
  0% { transform: translate(0, 0); }
  20% { transform: translate(-5px, 0); }
  40% { transform: translate(5px, 0); }
  60% { transform: translate(-5px, 0); }
  80% { transform: translate(5px, 0); }
  100% { transform: translate(0, 0); }
}

.death-animation-left {
  animation: fadeOutLeft 1s forwards;
}

.death-animation-right {
  animation: fadeOutRight 1s forwards;
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100px);
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100px);
  }
}

.status-pokemon {
  font-weight: bold;
  margin-left: 10px;
  padding: 3px 7px;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-text-stroke: 0.001px #000000;
  font-size: 30px;
  border-radius: 10px;
}

.status-pokemon.SLP {
  background-color: green; /* Green for Sleep */
}

.status-pokemon.PAR {
  background-color: yellow; /* Yellow for Paralyze */
}

.status-pokemon.PSN {
  background-color: #6a0dad; /* Purple for Poison */
}

.status-pokemon.CNF {
  background-color: #b1b0b0; /* Gray for Confusion */
}

.go-back {
  position: relative;
  right: 30px;
}

.go-back-2 {
  position: relative;
  left: 30px;
}

.shiny {
  position: relative;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 0 8px silver, 0 0 10px gold;
}

.shiny::before,
.shiny::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: radial-gradient(circle, #fff 60%, gold 100%);
  opacity: 0.7;
  pointer-events: none;
  animation: sparkle-move 1.5s infinite linear;
}

.shiny::after {
  width: 8px;
  height: 8px;
  left: 80%;
  top: 10%;
  animation-delay: 0.7s;
}

@keyframes sparkle-move {
  0%   { left: 10%; top: 80%; opacity: 0.7; }
  30%  { left: 60%; top: 60%; opacity: 1; }
  60%  { left: 80%; top: 10%; opacity: 0.8; }
  100% { left: 10%; top: 80%; opacity: 0.7; }
}

@media (max-width: 600px) {              /* Portrait Mode */
  .popup-battle-pokemon {
    min-width: 100vw !important;
    width: 100vw !important;
    min-height: 85vh !important;
  }
  .battle-transition-overlay {
    min-width: 100vw !important;
    width: 100vw !important;
    min-height: 85vh !important;
  }
  .popup-battle-pokemon-animation {
    min-width: 100vw !important;
    width: 100vw !important;
    min-height: 85vh !important;
  }
  .pokemon1-container, .pokemon2-container, .moveset, .moveset-2 {
    width: 95vw !important;
    min-width: 90vw !important;
    right: 0px !important;
    position: relative !important;
  }
  .pokemon1-container {
    left: -55px !important;
    top: -80px !important;
  }
  .pokemon2-container {
    left: -55px !important;
    top: -40px !important;
  }
  .moveset {
    min-height: 200px !important;
    right: 70px !important;
    bottom: -140px !important;
    gap: 5px !important;
  }
  .moves {
    font-size: 15px !important;
    padding: 15px !important;
    margin: 0 !important;
    height: 80px !important;
  }
  .moveset-2 {
    min-height: 200px !important;
    height: 150px !important;
    right: 70px !important;
    top: 140px !important;
  }
  #battle-message {
    font-size: 35px !important;
    margin: 10px !important;
  }
  .battle-menu {
    width: 90vw !important;
    min-width: 90vw !important;
    position: relative !important;
    gap: 5px !important;
    right: 5px !important;
    bottom: 5px !important;
  }
  .options {
    font-size: 20px !important;
    padding: 25px !important;
    margin-top: 0 !important;
  }
  .pokemon2-stats, .pokemon1-stats {
    left: 0 !important;
    right: 0 !important;
    width: 50vw !important;
  }
  .pokeName-battle, .pokeName-battle-2 {
    font-size: 25px !important;
    margin: 0 !important;
    right: 0 !important;
  }
  .pokeName-battle {
    top: 150px !important;
    left: 120px !important;
  }
  .pokeName-battle-2 {
    top: 50px !important;
    right: 30px !important;
  }
  .pokeText-battle, .pokeText-battle-2, .pokeText-battle-life {
    font-size: 18px !important;
    margin: 0 !important;
    bottom: 0 !important;
    left: 0 !important;  
  }
  .pokeText-battle {
    top: 140px !important;
    left: 125px !important;
  }
  .pokeText-battle-life {
    top: 105px !important;
    left: 90px !important;
  }
  .pokeText-battle-2 {
    top: 40px !important;
    left: -20px !important;
  }
  .hp-bar-label{
    font-size: 8px !important;
    padding: 1px 5px !important;
    left: 0px !important;
    top: -5px !important;
  }
  .hp-bar-fill {
    left: 30px !important;
    top: 2px !important;
    height: 7px !important;
    width: calc(90px * var(--hp, 1));
  }
  .hp-bar-container, .hp-bar-container-2 {
    width: 130px !important;
    height: 17px !important;
  }
  .hp-bar-container {
    top: 120px !important;
    left: 115px !important;
  }
  .hp-bar-container-2 {
    top: 20px !important;
    left: 5px !important;
  }
  .ui-1 {
    width: 60% !important;
    top: 250px !important;
    left: -80px !important;
  }
  .ui-2 {
    width: 100% !important;
    top: -15px !important;
    left: -10px !important;
  }
  #pokemon-battle-sprite {
    width: 150px !important;
    height: 150px !important;
    top: 170px !important;
  }
  #pokemon-battle-sprite-2 {
    width: 125px !important;
    height: 125px !important;
    right: 220px !important;
    bottom: -5px !important;
  }
  .status-pokemon {
    font-size: 15px !important;
    margin-left: 5px !important;
    padding: 2px 5px !important;
    bottom: 2px !important;
    position: relative !important;
  }
  .lose-icon {
    position: absolute;
    z-index: 20;
    width: 100%;
    bottom: 30px;
    left: 40px;
    pointer-events: none;
  }
  .win-icon {
    position: absolute;
    z-index: 20;
    width: 115%;
    bottom: 40px;
    left: 40px;
    pointer-events: none;
  }
  .go-back {
    left: 70px !important;
  }
  .go-back-2 {
    display: none !important;
  }
  .popup-pokemon-2 {
    padding: 0px !important;
    min-width: 95vw !important;
    max-height: 85vh !important;
  }
  .all-pokemon-container {
    gap: 50px !important;
    height: 80vh;
    padding: 0px !important;
  }
  .pokemon-section {
    min-width: 35vw !important;
    padding: 0 !important;
    left: 15px !important;
  }
  .pokemon-section-2 {
    min-width: 35vw !important;
    bottom: 22px !important;
    right: 10px !important;
  }
  .pokemon-header, .pokemon-header-2 {
    font-size: 10px !important;
  }
  .pokemon-header-2 {
    top: 22px !important;
  }
  .pokemon-h2, .pokemon-h2-2 {
    font-size: 35px !important;
  }
  .pkmn-img {
    width: 100px !important;
  }
  .lose-icon-short, .win-icon-short {
    width: 20% !important;
  }
  .pkmn-battled p {
    font-size: 32px !important;
  }
  .pokemon-section-2 > .pkmn-battled {
    position: relative !important;
    top: 22px !important;
  }
}

@media (max-width: 900px) and (max-height: 400px) {          /* modo landscape */
.popup-pokemon-2 {
    padding: 0px !important;
    max-width: 140vw !important;
    max-height: 180vh !important;
  }
  .all-pokemon-container {
    gap: 50px !important;
    height: 180vh;
    padding: 30px 0 !important;
  }
  .pokemon-section {
    min-width: 35vw !important;
    padding: 0 !important;
    left: 15px !important;
  }
  .pokemon-section-2 {
    min-width: 35vw !important;
    bottom: 22px !important;
    right: 60px !important;
  }
  .pokemon-header, .pokemon-header-2 {
    font-size: 20px !important;
  }
  .pokemon-header-2 {
    top: 22px !important;
  }
  .pokemon-h2, .pokemon-h2-2 {
    font-size: 55px !important;
  }
  .pkmn-img {
    width: 170px !important;
  }
  .lose-icon-short, .win-icon-short {
    width: 20% !important;
  }
  .pkmn-battled p {
    font-size: 52px !important;
  }
  .pokemon-section-2 > .pkmn-battled {
    position: relative !important;
    top: 22px !important;
  }
  .close-button-2 {
    float: right !important;
    position: relative !important;
    left: -80px !important;
    top: 10px !important;
    background-color: transparent !important;
  }
}

/*themes---------------------------*/
.popup-pokemon.theme-normal,
.popup-pokemon-2.theme-normal {
  background: #d52a4a;
}

.pokeText.theme-normal, .pokeName.theme-normal {
  color: #ffffff;
}



.popup-pokemon.theme-pikachu,
.popup-pokemon-2.theme-pikachu {
  background: #f3cf3f;
}

.pokeText.theme-pikachu, .pokeName.theme-pikachu {
  color: #222;
}

.popup-pokemon.theme-charmander,
.popup-pokemon-2.theme-charmander {
  background: #f09146;
}

.pokeText.theme-charmander, .pokeName.theme-charmander {
  color: #222;
}



.popup-pokemon.theme-bulbasaur,
.popup-pokemon-2.theme-bulbasaur {
  background: #55a480;
}

.pokeText.theme-bulbasaur, .pokeName.theme-bulbasaur {
  color: #222;
}



.popup-pokemon.theme-squirtle,
.popup-pokemon-2.theme-squirtle {
  background: #8db5ac;
}

.pokeText.theme-squirtle, .pokeName.theme-squirtle {
  color: #222;
}



.popup-pokemon.theme-mewtwo,
.popup-pokemon-2.theme-mewtwo {
  background: #77569c;
}

.pokeText.theme-mewtwo, .pokeName.theme-mewtwo {
  color: #ffffff;
}